.skill-divider-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.skill-divider-top svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 92px;
}


/** For mobile devices **/
@media (max-width: 767px) {
  .skill-divider-top svg {
    width: calc(100% + 1.3px);
    height: 86px;
  }
}

.underlined {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 10px;
  background: slateblue;
}
